<?xml version="1.0"?>
<launch>
	<arg name="multirobot" default="false" />    
    <!-- <arg name="robotname" default="Roy Batty" /> -->
    <arg name="robotname" default="Robobreizh pepper" />
    <arg name="planname" default="plan_test_ros" />
    <arg name="use_gui" default="false" />
    
    <arg name="detection" default="false" />
    <arg name="door" default="false" />

    <arg name="moveit_warehouse_port" default="33829"/>
    <arg name="moveit_warehouse_host" default="$(find manager_pepper)/manager_db/roboBreizhDb.db"/>

    <!-- Navigation params -->
    <arg name="map_file" default="$(find navigation_pep)/src/mapping/csiro_room.yaml" />

    <!-- RoboBreizh manager -->

    <group unless="$(arg multirobot)">
        <param name="robot_name" value="$(arg robotname)" />

        <node pkg="manager_pepper" type="pnp_robobreizh" name="pnp_robobreizh" args="" output="screen" />

        <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen">
            <param name="plan_folder" value="$(find manager_pepper)/plans/" />
            <param name="current_plan" value="$(arg planname)" />
            <param name="use_java_connection" value="$(arg use_gui)" />
        </node>
    </group>

    <!-- Initialisation nodes (if there are any)-->

    <!-- Dialog nodes -->
    <include file="$(find dialog_pepper)/launch/dialog_pepper.launch"/>

    <!-- Manipulation nodes -->

    <!-- Navigation nodes -->
    <include file="$(find navigation_pep)/launch/robobreizh_nav.launch">
        <arg name="map_file" value="$(arg map_file)" />
    </include>

    <!-- Vision nodes -->
    <include file="$(find perception_pepper)/launch/perception_pepper.launch">
        <arg name="door" value="$(arg door)" />
        <arg name="detection" value="$(arg detection)"/>
    </include>

    <!-- SqLite Database nodes -->
    <param name="warehouse_port" value="$(arg moveit_warehouse_port)"/>
    <param name="warehouse_host" value="$(arg moveit_warehouse_host)"/>
    <param name="warehouse_exec" value="sqlite"/>
    <param name="warehouse_plugin" value="warehouse_ros_sqlite::DatabaseConnection"/>

    <!-- Other nodes -->
</launch>
