<?xml version="1.0"?>
<launch>
    <arg name="robotname" default="Robobreizh pepper" />
    <arg name="planname" default="plan_test_ros" />
    <arg name="use_gui" default="false" />
    
	<arg name="receptionist" default="false" />
	<arg name="door" default="false" />
	<arg name="find_my_mates" default="false"/>
	<arg name="restaurant" default="false"/>
	<arg name="gpsr" default="false"/>
	<arg name="carry_my_luggage" default="false"/>

    <arg name="db_warehouse_port" default="0"/>
    <arg name="db_warehouse_host" default="$(find manager_pepper)/manager_db/roboBreizhDb.sql"/>

    <!-- Navigation params -->
    <arg name="map_file" default="$(find navigation_pep)/src/mapping/csiro_room.yaml" />

    <!-- RoboBreizh manager -->
    <param name="robot_name" value="$(arg robotname)" />

    <node pkg="manager_pepper" type="pnp_robobreizh" name="pnp_robobreizh" args="" output="screen" />

    <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen">
        <param name="plan_folder" value="$(find manager_pepper)/plans/" />
        <param name="current_plan" value="$(arg planname)" />
        <param name="use_java_connection" value="$(arg use_gui)" />
    </node>

    <!-- Initialisation nodes (if there are any)-->

    <!-- Dialog nodes -->
    <include file="$(find dialog_pepper)/launch/dialog_pepper.launch"/>

    <!-- Manipulation nodes -->

    <include file="$(find manipulation_pepper)/launch/manipulation_pepper.launch"/>

    <!-- Navigation nodes -->
    <group unless="$(arg carry_my_luggage)">
        <node pkg="navigation_pep" type="rotate_angle.py" name="rotate_on_point" output="screen"/>
        <include file="$(find navigation_pep)/launch/robobreizh_nav.launch">
            <arg name="map_file" value="$(arg map_file)" />
        </include>    
    </group>
    <group if="$(arg carry_my_luggage)">
        <include file="$(find navigation_pep)/launch/dwa_slam.launch"></include>    
    </group>
    
    <!-- Vision nodes -->
    <include file="$(find perception_pepper)/launch/perception_pepper.launch">
        <arg name="door" value="$(arg door)" />
        <arg name="find_my_mates" value="$(arg find_my_mates)"/>
        <arg name="receptionist" value="$(arg receptionist)" />
        <arg name="restaurant" value="$(arg restaurant)"/>
        <arg name="gpsr" value="$(arg gpsr)"/>
    </include>

    <!-- SqLite Database nodes -->
    <param name="warehouse_port" value="$(arg db_warehouse_port)"/>
    <param name="warehouse_host" value="$(arg db_warehouse_host)"/>
    <param name="warehouse_plugin" value="warehouse_ros_sqlite::DatabaseConnection"/>

    <!-- Other nodes -->
</launch>
