<?xml version="1.0"?>
<launch>
    <arg name="robotname" default="Robobreizh pepper" />
    <arg name="planname" default="plan_test_ros" />
    <arg name="use_gui" default="false" />
    
	<arg name="receptionist" default="false" />
	<arg name="door" default="false" />
	<arg name="find_my_mates" default="false"/>
	<arg name="restaurant" default="false"/>
	<arg name="gpsr" default="false"/>
	<arg name="carry_my_luggage" default="false"/>
	<arg name="store_groceries" default="false"/>
	<arg name="serve_breakfast" default="false"/>
	<arg name="clean_the_table" default="false"/>
	<arg name="stickler_for_the_rules" default="false"/>
	<arg name="slam" default="false"/>
    <arg name="visualize" default="false"/>
	<arg name="qi_ip" default="127.0.0.1" doc="pepper ip used for qi calls"/>
    <arg name="address" default="169.254.101.57"/>

    <arg name="db_warehouse_port" default="0"/>
    <arg name="db_warehouse_host" default="$(find manager_pepper)/manager_db/roboBreizhDb.sql"/>

    <!-- Navigation params -->
    <arg name="map_file" default="$(find navigation_pep)/src/mapping/map_robocup2023/map_robocup.yaml" />

    <!-- RoboBreizh manager -->
    <param name="robot_name" value="$(arg robotname)" />

    <node pkg="manager_pepper" type="pnp_robobreizh" name="pnp_robobreizh" args="" output="screen" />

    <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen">
        <param name="plan_folder" value="$(find manager_pepper)/plans/" />
        <param name="current_plan" value="$(arg planname)" />
        <param name="use_java_connection" value="$(arg use_gui)" />
    </node>

    <!-- Initialisation nodes (if there are any)-->
    <!-- starts rosbridge websocket-->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <param name="address" value="$(arg address)" />
    </include>

    <!-- Dialog nodes -->
    <include file="$(find dialog_pepper)/launch/dialog_pepper.launch">
        <arg name="gpsr" value="$(arg gpsr)" />
    </include>

    <!-- Manipulation nodes -->

    <include file="$(find manipulation_pepper)/launch/manipulation_pepper.launch"/>

    <!-- Navigation nodes -->
    <!-- <node pkg="navigation_pep" type="set_init_pose.py" name="set_init_pose" output="screen"/>  -->
    <node pkg="navigation_pep" type="rotate_angle.py" name="rotate_on_point" output="screen"/>
    <group if="$(arg slam)"> 
        <include file="$(find navigation_pep)/launch/teb_navigation_SLAM.launch">
        </include>    
    </group>
    <group unless="$(arg slam)">
        <include file="$(find navigation_pep)/launch/robobreizh_nav.launch">
            <arg name="map_file" value="$(arg map_file)" />
        </include>    
    </group>

    <group if="$(arg carry_my_luggage)"> 
        <include file="$(find robobreizh_tracker)/launch/robobreizh_tracker.launch">
        </include>    
    </group>
    <!-- <group if="$(arg carry_my_luggage)"> -->
        <!-- <include file="$(find navigation_pep)/launch/dwa_slam.launch"></include> -->    
    <!-- </group> -->
    
    <!-- Vision nodes -->
    <include file="$(find perception_pepper)/launch/perception_pepper.launch">
        <arg name="door" value="$(arg door)" />
        <arg name="find_my_mates" value="$(arg find_my_mates)"/>
        <arg name="receptionist" value="$(arg receptionist)" />
        <arg name="restaurant" value="$(arg restaurant)"/>
        <arg name="gpsr" value="$(arg gpsr)"/>
        <arg name="carry_my_luggage" value="$(arg carry_my_luggage)"/>
        <arg name="store_groceries" value="$(arg store_groceries)"/>
        <arg name="serve_breakfast" value="$(arg serve_breakfast)"/>
        <arg name="clean_the_table" value="$(arg clean_the_table)"/>
        <arg name="stickler_for_the_rules" value="$(arg stickler_for_the_rules)"/>
        <arg name="qi_ip" value="$(arg qi_ip)"/>
        <arg name="visualize" value="$(arg visualize)"/>
    </include>

    <!-- SqLite Database nodes -->
    <param name="warehouse_port" value="$(arg db_warehouse_port)"/>
    <param name="warehouse_host" value="$(arg db_warehouse_host)"/>
    <param name="warehouse_plugin" value="warehouse_ros_sqlite::DatabaseConnection"/>

    <!-- Other nodes -->
</launch>
