<launch>
	<arg name="multirobot" default="false" />    
    <arg name="robotname" default="Roy Batty" />
    <arg name="planname" default="plan_test_ros" />
    <arg name="use_gui" default="false" />
    
    <!-- Single robot -->

    <group unless="$(arg multirobot)">
        <param name="robot_name" value="$(arg robotname)" />

        <node pkg="demo_pnp" type="demo_pnp_robobreizh" name="demo_pnp_robobreizh" args="" output="screen" />

        <node pkg="robobreizh_demo_components" type="Pepper_speech_server.py" name="Pepper_speech_server" args="" output="screen" />

        <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen">
            <param name="plan_folder" value="$(find demo_pnp)/plans/" />
            <param name="current_plan" value="$(arg planname)" />
            <param name="use_java_connection" value="$(arg use_gui)" />
        </node>
    </group>
</launch>